.home-page {
	border: 5px solid grey;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-radius: 20px;
	width: 315px;
}

.link-gallery {
	/* display: inline-block; */
	text-decoration: none;
	font-size: 36px;
	font-style: normal;
}